/*#region homepage*/
h1.pageHeader{
    text-align: center;
    border: 4px solid red;
    background-color: antiquewhite;
}

div.promoVid
{
    text-align: center;
    border: 5px solid red;
    background-color: antiquewhite;
    margin-left: 300px;
    margin-right: 300px;
}

div.galleryMain
{
    text-align: center;
    border: 5px solid red;
    background-color: antiquewhite;
    border-radius: 0.5em;
    margin-left: 150px;
    margin-right: 150px;
}

h2.vidHeader{
    background-color: rgb(22, 95, 138);
    color: white;
    margin-right: 10em;
    margin-left: 10em;
    text-align: center;
}

img.note{
    float: left;
    width:150px;
    height: 150px;
    margin-left: 180px;
    margin-top: 50px;
}

img.note2{
    float: right;
    width:150px;
    height: 150px;
    margin-top: 50px;
    margin-right: 140px;
}

body.mainPage{
    background-image: url("/Images/galway.jpg");
}

h1{
    border-radius: 0.5em;
    background-color: rgb(22, 95, 138);
    margin-left: 200px;
    margin-right: 200px;
    color: black;
}

h2{
    border-radius: 0.5em;
    background-color: rgb(22, 95, 138);
    margin-left: 200px;
    margin-right: 200px;
    color: white;
}

.indexBar {
    display: flex;
    justify-content:center;
    list-style-type: none;
    margin: 1em;
    padding: 0em;
    border-top: 0;
    background-color: #edf10d;
    border: solid #a0250d;
    border-width: .2em
}

.indexBar a {
    text-decoration: none;
    margin: 1em;
    color: #000000;
    font-weight: bold;
    display: block;
    top: 0.75em;
    bottom: 0.75em;
    left: 1em;
    right: 1m;
}

.indexBar a:hover {
    background-color: #c8be85;
    transition: .5s;
    font-size: large;
}

div.mailingList{
    display: flexbox;
    text-shadow: #000000;
    text-align: center;
    background-color: rgb(213, 160, 14);
    width: 24em;
    height: 4em;
    margin-left: 1em;
    margin-top: 1em;
    border: solid black;
}

input.submitButton{
    background-color: rgb(160, 108, 108);
    width: 15;
    height: 2em;
    margin-left: 26em;
    margin-top: .5em;
    text-align: center;
}

/*#endregion*/

/*#region history*/

p.historyText{
   background-color: rgb(57, 54, 54);
   color: white;
   text-align: center;
   width: 60em;
   height: 40;
   margin-left: .5em;
   font-weight: bold;
   border: solid black;
   border-width: .6em;
}

img.image1{
    float: right;
    padding-right: 0em;
    width: 15em;
    height: 10em;
    margin-right: .5em;
    margin-top: .5em;
}

body.history{
    background-image: url("/Images/historyGalway.jpg");
}
/*#endregion*/

/*#region placesToVisit*/
body{
    background-color: rgb(185, 159, 125);
}

div.map{
  float: right;
  margin-right: 2em;
  border: solid black;
}

div.mailingListAttractions{
    text-shadow: #000000;
    text-align: center;
    background-color: rgb(213, 160, 14);
    width: 24em;
    height: 4em;
    border: solid black;
    margin-left: 90em;
    margin-top: 30em;
}
/*#endregion*/

/*#region contact*/
div.contactInfo{
    background-color: #ca634f;
    width: 30em;
    text-align: center;
    justify-content: center;
    border: solid black;
    margin-left: 30em;
    margin-top: 2em;
}

input.submitButtonContact{
    background-color: #c88208;
    margin-top: 2em;
    margin-bottom: 1em;
}

h2.contactHeader{
    width: 10em;
    text-align: center;
    margin-left: 5em;
}

input.message{
    height: 1em;
    width: 20em;
}
/*#endregion*/