@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');


/*#region homepage*/
h1.pageHeader {
    text-align: center;
    border: 4px solid red;
    background-color: #faebd7;
}

.page-container {
    font-family: 'Itim', sans-serif;
}

div.promoVid {
    text-align: center;
    border: 5px solid red;
    background-color: antiquewhite;
    margin-left: 300px;
    margin-right: 300px;
}

.gallery {
    background-color: antiquewhite;
    border: solid red;
    width: 90%;
    margin-left: 5em;
}

.gallery__img1{
   margin-left: 15em;
   margin-top:  1em;
}

.gallery__img2{
    margin-left: 50em;
   margin-top:  -19em;
}

.gallery__img3{
    margin-left: 50em;
    margin-top: 1em;
  
}

.gallery__img4{
    margin-left: 15em;
    margin-top: -18em;
}

h2.vidHeader {
    background-color: rgb(22, 95, 138);
    color: white;
    margin-right: 10em;
    margin-left: 10em;
    text-align: center;
}

img.note {
    float: left;
    width: 150px;
    height: 150px;
    margin-top: 50px;
}

img.note2 {
    float: right;
    width: 150px;
    height: 150px;
    margin-top: 50px;
}

body.mainPage {
    background-image: url("/Images/galway.jpg");
}

h1 {
    border-radius: 0.5em;
    background-color: rgb(22, 95, 138);
    margin-left: 200px;
    margin-right: 200px;
    color: black;
}

h2 {
    border-radius: 0.5em;
    background-color: rgb(22, 95, 138);
    margin-left: 500px;
    color: white;
    text-align: center;
    width: 40%;
}

.indexBar {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 1em;
    background-color: #edf10d;
    border: solid #a0250d;
    border-width: .2em
}

.indexBar a {
    text-decoration: none;
    margin: 1em;
    color: #000000;
    font-weight: bold;
    display: block;
    top: 0.75em;
    bottom: 0.75em;
    left: 1em;
    right: 1m;
}

.indexBar a:hover {
    background-color: #c8be85;
    transition: .5s;
    font-size: large;
}

/*#endregion*/

/*#region history*/

p.historyText {
    background-color: rgb(57, 54, 54);
    color: white;
    text-align: center;
    width: 60em;
    margin-left: .5em;
    font-weight: bold;
    border: solid black;
    border-width: .6em;
}

img.image1 {
    float: right;
    width: 15em;
    height: 9em;
    margin-right: .5em;
    margin-top: .1em;
    border: solid white;
}

img.image2 {
    float: right;
    width: 10em;
    height: 7em;
    margin-right: .5em;
    margin-top: 2em;
    border: solid white;
}

.fact {
    background-color: rgb(57, 54, 54);
    border: solid white;
    color: #c8be85;
    text-align: center;
    width: 20%;
    height: 3em;
    margin-right: 10em;
    margin-top: -23em;
    float: right;
}

.fact2 {
    background-color: rgb(57, 54, 54);
    border: solid white;
    color: #c8be85;
    text-align: center;
    width: 20%;
    height: 5em;
    margin-right: 10em;
    margin-top: -19em;
    float: right;
}

.fact3 {
    background-color: rgb(57, 54, 54);
    border: solid white;
    color: #c8be85;
    text-align: center;
    width: 20%;
    height: 5em;
    margin-right: 10em;
    margin-top: -13em;
    float: right;
}

.fact4 {
    background-color: rgb(57, 54, 54);
    border: solid white;
    color: #c8be85;
    text-align: center;
    width: 20%;
    height: 6em;
    margin-right: 10em;
    margin-top: -7em;
    float: right;
}

.funFactHeader {
    border: solid white;
    text-align: center;
    width: 20%;
    float: right;
    margin-top: -17em;
    margin-right: 7em;
}

body.history {
    background-image: url("/Images/historyGalway.jpg");
    background-repeat: no-repeat;
    background-size: 96em 45em;
}

/*#endregion*/

/*#region placesToVisit*/
.attractions-body {
    background-image: url(/images/galwaybacking.jpg);
    background-repeat: no-repeat;
    background-size: 100em 70em;
    font-family: 'Itim', sans-serif;
    text-align: center;
}

div.map {
    float: right;
    margin-right: 2em;
    border: solid black;
}

div.mailingListAttractions {
    text-shadow: #000000;
    text-align: center;
    background-color: rgb(213, 160, 14);
    width: 24em;
    height: 4em;
    border: solid black;
    margin-left: 90em;
    margin-top: 30em;
}

/*#region row1*/
.attractionHeader {
    text-align: center;
    width: 20%;
    border: solid white;
    color: white;
}

.attractionParagraph {
    background-color: antiquewhite;
    border: solid black;
    width: 20%;
    margin-top: -1em;
    margin-left: 12em;
}

.attractionImage {
    float: right;
    margin-right: 51em;
    margin-top: -9.5em;
    border: solid black;
}

/*#endregion*/

/*#region row2*/

.row2
{
    margin-top: 3em;
   margin-right: 10em;
}


.attractionHeader2 {
    float: right;
    text-align: center;
    width: 20%;
    border: solid white;
    color: white;
    margin-top: -17.5em;
}

.attractionParagraph2 {
    float: right;
    margin-top: -32em;
    margin-right: 12em;
    background-color: antiquewhite;
    border: solid black;
    width: 20%;
}

.attractionImage2 {
    float: right;
    border: solid black;
    margin-top: -33em;
}

.attractionHeader3 {
    float: right;
    text-align: center;
    width: 20%;
    border: solid white;
    color: white;
    margin-top: -11em;
}

.attractionParagraph3 {
    float: right;
    margin-top: -18.5em;
    margin-right: 12em;
    background-color: antiquewhite;
    border: solid black;
    width: 20%;
}

.attractionImage3 {
    float: right;
    border: solid black;
    margin-top: -22em;
}

.attractionHeader4 {
    float: right;
    text-align: center;
    width: 20%;
    border: solid white;
    color: white;
    margin-top: -5.5em;
}

.attractionParagraph4 {
    float: right;
    margin-top: -8em;
    margin-right: 12em;
    background-color: antiquewhite;
    border: solid black;
    width: 20%;
}

.attractionImage4 {
    float: right;
    border: solid black;
    margin-top: -10em;
    margin-right: 1em;
}


/*#endregion*/
/*#endregion*/

/*#PlacesToStay*/
.bookLink{
    background-color: #a0250d;
    color: white;
    font-style: none;
    margin-left: 18em;
    border: solid black;
    border-radius: 1em;
    text-decoration: none;
    margin-top: -1em;
}

a:hover{
    background-color: #fcdf00;
    color: rgb(0, 0, 0);
    text-decoration: none;
}

.stay1{
    width: 30%;
}

.Stay1Header{
    background-color: aquamarine;
    text-align: center;
    width: 40%;
    margin-left: 8em;
    margin-top: 3em;
    border: solid black;
}

.Stay1P{
    background-color: antiquewhite;
    text-align: center;
    margin-left: 22em;
    margin-top: -13em;
    border: solid black;
    width: 50%;
}

.Stay1Review{
    background-color: antiquewhite;
    text-align: left;
    border: solid black; 
    margin-left: 22em;
    margin-top: 1em;
    width: 90%;
    height: 100%;
}

.accomodationImage1{
    border: solid rgb(84, 79, 79);
    margin-left: 9em;
}

.stay2{
    width: 30%;
}

.Stay2Header{
    background-color: aquamarine;
    text-align: center;
    width: 40%;
    margin-left: 8em;
    margin-top: 3em;
    border: solid black;
}

.Stay2P{
    background-color: antiquewhite;
    text-align: center;
    margin-left: 24em;
    margin-top: -13em;
    border: solid black;
    width: 50%;
}

.Stay2Review{
    background-color: antiquewhite;
    text-align: left;
    border: solid black; 
    margin-left: 24em;
    margin-top: 1em;
    width: 90%;
    height: 100%;
}

.accomodationImage2{
    border: solid rgb(84, 79, 79);
    margin-left: 6em;
}

.stay3{
    width: 30%;
}

.Stay3Header{
    background-color: aquamarine;
    text-align: center;
    width: 40%;
    margin-left: 8em;
    margin-top: 3em;
    border: solid black;
}

.Stay3P{
    background-color: antiquewhite;
    text-align: center;
    margin-left: 24em;
    margin-top: -13em;
    border: solid black;
    width: 50%;
}

.Stay3Review{
    background-color: antiquewhite;
    text-align: left;
    border: solid black; 
    margin-left: 24em;
    margin-top: 1em;
    width: 90%;
    height: 100%;
}

.accomodationImage3{
    border: solid rgb(84, 79, 79);
    margin-left: 6em;
}
/*#endregion*/

/*#region contact*/
div.contactInfo {
    background-color: #ca634f;
    width: 30em;
    text-align: center;
    justify-content: center;
    border: solid black;
    margin-left: 30em;
    margin-top: 2em;
}

input.submitButtonContact {
    background-color: #c88208;
    margin-top: 2em;
    margin-bottom: 1em;
}

h2.contactHeader {
    width: 10em;
    text-align: center;
    margin-left: 5em;
}

input.message {
    height: 1em;
    width: 20em;
}

/*#endregion*/

/*#region footer*/
footer {
    background-color: antiquewhite;
    width: 90em;
    height: 5em;
    border: solid black;
    margin-left: 3em;
    margin-top: 3em;
    text-align: center;
    font-family: 'Itim', sans-serif;
}

div.mailingList {
    display: flexbox;
    text-shadow: #000000;
    text-align: center;
    background-color: rgb(213, 160, 14);
    width: 25em;
    height: 4em;
    margin-left: 1em;
    margin-top: -3.9em;
    border: solid black;
}

input.submitButton {
    background-color: rgb(160, 108, 108);
    width: 10;
    height: 2em;
    margin-left: 26em;
    margin-top: .3em;
    text-align: center;
}

.footerText {
    background-color: aliceblue;
    border: solid black;
    width: 18em;
    height: 2em;
    margin-left: 50em;
    text-align: center;
}

/*#endregion*/